.icons .fa{
  color: white;
  text-decoration: none;
}
.contact .fa{
  color: white;
  text-decoration: none;
}
.fa-envelope{
  display: flex;
  gap: 5px;
}
.fa-phone{
  display: flex;
  gap: 5px;
}
.contact .fa-envelope:hover {
  text-decoration:underline;
}
.icons .socialmedia2{
  opacity: 0.5 !important;
}
.icons .fa-twitter:hover{
  opacity: 1 !important;
}
.icons .fa-facebook:hover{
  opacity: 1 !important;
}
.icons .fa-instagram:hover{
  opacity: 1 !important;
}
.icons .fa-linkedin:hover{
  opacity: 1 !important;
}
.socialmedia { 
  padding: 5px 5px;
}
.contact{
  display: flex;
  gap: 15px;
}
#mynavbar .me-auto{
  font-size: 17px;
  font-weight: 500;
  display: flex;
  gap: 10px;
}
#home{
  background-attachment: fixed;
  width: 100%;
  height: 75vh;
  background-size: cover;
  background: url("../src/images/hero-bg.jpg");
}
.home{
  padding: 120px 0px;
}
.icons2 .fa{
  color: blue;
  text-decoration: none;
  font-size: 70px;
}
.abouttitle{
  font-size: 13px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  border-radius: 50px;
} 
.aboutmatter p{ 
  font-size: 20px; 
}
.aboutimage {
  max-width: 100%;
  height: auto;
}
.boxicon{
  background: #fff;
  box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
  font-size: 24px;
  padding: 20px;
  margin-right: 15px;
  color: #106eea;
  border-radius: 50px;
  line-height: 1;
}
.progressbar{
  display:flex;
  row-gap: 25px;
}
.pro{
  background-color: rgba(209, 171, 171, 0);
}
.box{
  background-color: blue;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  .socialmedia2{
      font-size: 30px;
  }
}
.boxmatter{
  position: relative;
}
.testimonialbgimg{
  background:url('../src/images/testimonials-bg\ img.jpg') ;
  width: 100%;
  height: 500px;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.testmonial{
  padding: 80px 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.mainimg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caroubutton {
  position: absolute;
  bottom: -35px;
}
.button1{
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
}
.rightindicator{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.rightindicator1{
  text-decoration: none;
  color: lightblue;
  font-size: 15px;
}
.FAQ{
  background-color: #8fafd855 !important;
}